@font-face {
  font-family: "DrukCyr";
  src: url("../fonts/DrukCyr-Medium.ttf");
}
@font-face {
  font-family: "DrukWideCyr";
  src: url("../fonts/drukwidecyr-medium.eot"),
    url("../fonts/drukwidecyr-medium.otf"),
    url("../fonts/drukwidecyr-medium.ttf"),
    url("../fonts/drukwidecyr-medium.woff"),
    url("../fonts/drukwidecyr-medium.woff2");
}

@font-face {
  font-family: "Montserrat Bold";
  src: url("../fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "NunitoSans";
  src: url("../fonts/NunitoSans-Bold.ttf");
  font-weight: bolder;
}
@font-face {
  font-family: "NunitoSans";
  src: url("../fonts/NunitoSans-Black.ttf");
  font-weight:bold
}
@font-face {
  font-family: "NunitoSans";
  src: url("../fonts/NunitoSans-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "NunitoSans";
  src: url("../fonts/NunitoSans-Light.ttf");
  font-weight: lighter;
}
